:root {
    --radius: 10px;
    --background: rgba(0, 0, 0, 0.7);
    --color: #008F39;
    --text-color: #FFFFFF;
    --transparent: rgba(0, 0, 0, 0);
}

body {
    background: url(../img/default/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--transparent);
    color: #eee;
}

.profile {
    max-height: 32px;
    border-radius: 50%;
}

.close-button {
    color: #DC3545 !important;
    font-size: 30px;
    margin-left: 10px;
}

#header {
    background: var(--background);
    border-radius: 0 0 var(--radius) var(--radius);
    -webkit-backdrop-filter: blur(4px);
}

.principal-content {
    height: calc(100vh - 80px);
    margin-top: 11px;
}

.sidebar-item {
    max-width: 48px;
}

.sidebar {
    background: var(--background);
    border-radius: 0 var(--radius) 0 0;
    -webkit-backdrop-filter: blur(4px);
    height: calc(100vh - 80px);
}

.social {
    height: calc(100vh - 120px) !important;
    border-radius: var(--radius) !important;
    background: var(--background);
    -webkit-backdrop-filter: blur(4px);
}

.bg-g {
    border-radius: var(--radius) !important;
    background: var(--background);
    -webkit-backdrop-filter: blur(4px);
}

.btn {
    border-radius: var(--radius) !important;
}

.btn-minecraft {
    background-color: #00AA00;
    border-color: #00AA00;
}

.btn-minecraft:hover {
    border-color: #55FF55;
    background-color: #00AA00;
}

.btn-telegram {
    background-color: #0088cc;
    border-color: #0088cc;
}

.btn-telegram:hover {
    border-color: #33aaff;
    background-color: #33aaff;
}

.btn-play {
    padding: 20px;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: darkgrey;
    border-color: darkgray;
}